/* Home Page */
#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 70px 1em 1em 1em;
    gap: 3em;
    text-align: center;
}
#homePage .btn-cont {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    width: 100%;
}
#homePage .btn-cont button {
    flex: 1;
    height: 3em;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    transition: 1s ease;
}
#homePage .btn-cont button:hover {
    background: rgba(0, 230, 255, 0.1);
    box-shadow: 0 0 10px #00eaff, 0 0 20px rgba(0, 230, 255, 0.4);
    color: #00eaff;
}
#homePage .btn-cont .active {
    background: rgba(0, 230, 255, 0.3);
    border: 2px solid #00eaff;
    color: #00eaff;
    font-weight: bolder;
    transition: 0.2s ease;
}
#goTimer { border-top-left-radius: 2em; }
#goStopwatch { border-top-right-radius: 2em; }